<section>
    <h2>
        Detalhes piscina
    </h2>

    <ul class="list">
        <li>
            <app-info-item title="Água limpa">
                Para manter a água limpa por mais tempo,
                é recomendável não entrar na piscina
                diretamente após a chegada
                da praia, recomendamos o uso da ducha
                para remover o excesso de areia existente.
            </app-info-item>
        </li>

        <li>
            <app-info-item title="Cuidados">
                Após utilizar o protetor solar,
                aguarde que o mesmo seque por completo,
                recomendamos também que utilize a ducha
                para remover o excesso, assim você
                estará contribuindo para a limpeza da água.
            </app-info-item>
        </li>

        <li>
            <app-info-item title="Cascata e hidromassagem">
                Caso queira ligar a cascata ou a hidromassagem, entrar em contato com o <strong>Felipe</strong>.
            </app-info-item>
            <!-- TODO - link WHATSAPP pedindo pra ligar cascata -->
        </li>

        <li>
            <app-info-item title="Filtragem">
                A piscina é ligada automaticamente das 14h às 20h
                todos os dias para realizar o processo de filtragem e
                melhorar a qualidade da água.
            </app-info-item>
        </li>

        <li>
            <app-info-item title="Piscineiro">
                O piscineiro visita o imóvel regularmente para a
                limpeza da piscina, garantindo um ambiente agradável
                para todos os hóspedes.
            </app-info-item>
        </li>
    </ul>
</section>
