<section>
    <h2>
        Instruções de Check-in
    </h2>

    <ul class="list">
        <li>
            <app-info-item title="Avise assim que chegar" icon="car">
                Não estaremos fisicamente presentes, mas estaremos disponíveis online para auxiliar em todo o processo
                de check-in.
                Por favor, <strong>avise-nos</strong> assim que chegarem para que possamos abrir o portão e
                recebê-los.
            </app-info-item>
        </li>

        <li>
            <app-info-item title="Controle portão" icon="remote-control">
                Caso precisem, o controle do portão da garagem estará no painel da TV para facilitar o acesso.
            </app-info-item>
        </li>
    </ul>

</section>
