<section>
    <h2>
        Informações importantes
    </h2>

    <ul>
        <li>
            A geladeira foi feita para uso doméstico. É importante evitar abrir a geladeira com muita frequência, pois
            isso pode dificultar seu resfriamento adequado.
        </li>

        <li>
            Disponibilizamos um freezer para melhor atendê-los e uma caixa de isopor bem grande para ajudar a manter as
            coisas frescas, se necessário.
        </li>
        <li>
            Todas as tomadas da casa são 220 volts.
        </li>
        <li class="wifi">
            Todos os Wi-Fi da casa têm a mesma senha, que é: <strong>fernandocarros</strong>.

            <button>
                copiar senha
                <span class="material-symbols-outlined">
                    content_copy
                </span>
            </button>
        </li>
        <li>
            Evitem ligar todos os chuveiros e forno elétrico de uma única vez para garantir um uso eficiente da energia.
        </li>
        <li>
            O visor do microondas está de férias, mas o aquecimento está perfeito. Sintam-se à vontade para usá-lo.
        </li>
    </ul>
</section>
