<section>
    <h2>
        Dicas de locais próximos
    </h2>

    <ul class="teste">
        <li class="location">
            <span>
                <img src="./assets/logos/logo-piratininga.jpeg" alt="Ícone de bem-vindos" class="logo">
            </span>
            <div class="content">
                <h3 class="title">
                    Mercado Piratininga
                </h3>

                <p>
                    Av. José Herculano, 7040 - Travessão
                    <br />
                    7 min | 2,7 km
                </p>

                 <button>
                    Ir agora
                 </button>
            </div>
        </li>

        <li class="location">
            <span>
                <img src="./assets/logos/logo-piratininga.jpeg" alt="Ícone de bem-vindos" class="logo">
            </span>
            <div class="content">
                <h3 class="title">
                    Mercado Piratininga
                </h3>

                <p>
                    Av. José Herculano, 7040 - Travessão
                    <br />
                    7 min | 2,7 km
                </p>

                 <button>
                    Ir agora
                 </button>
            </div>
        </li>
    </ul>

</section>
