<section>
    <h2>
        Dicas de locais próximos
    </h2>

    <ul>
        <li class="location" *ngFor="let location of locations">
            <span class="logo">
                <img *ngIf="location.logo" [src]="'./assets/logos/' + location.logo" [alt]="location.name">
                <app-icon *ngIf="location.icon" [icon]="location.icon"></app-icon>
            </span>
            <div class="content">
                <h3 class="title">
                    {{location.name}}
                </h3>

                <p>
                    <ng-container *ngIf="location?.address">
                        {{location.address}}
                        <br />
                    </ng-container>

                    {{location.time}}

                    <img *ngIf="!location?.address" src="./assets/laughter.png" alt="Ícone de risada" class="icon-laughter" width="20">

                    <ng-container *ngIf="location.distance">
                        | {{location.distance}}
                    </ng-container>

                </p>

                <a class="link" [href]="location.link" target="_blank" *ngIf="location.link">
                    Ir agora
                </a>
            </div>
        </li>
    </ul>

</section>
