.location {
    display: flex;
    gap: 16px;
    color: rgb(113, 113, 113);
    font-size: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
        border: none;
        padding-bottom: 0;
    }
}

.logo {
    width: 40px;
    height: 40px;
    padding: 4px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 8px;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
        display: flex;
        align-items: flex-start;
    }
}

.title {
    font-size: 16px;
    color: #222;
    display: block;
}

.time {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.link {
    color: #fff;
    background-color: #3d6bbc;
    max-width: max-content;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px;
}

.icon-laughter {
    margin-left: 4px;
}
