<section>
    <h2>
        Informações importantes
    </h2>

    <ul class="list">
        <li>
            <app-info-item title="Geladeira" icon="freezer">
                A geladeira foi feita para uso doméstico. É importante evitar abrir a geladeira com muita frequência,
                pois
                isso pode dificultar seu resfriamento adequado.
            </app-info-item>
        </li>

        <li>
            <app-info-item title="Freezer" icon="freezer">
                Disponibilizamos um freezer para melhor atendê-los e uma caixa de isopor bem grande para ajudar a manter
                as
                coisas frescas, se necessário.
            </app-info-item>
        </li>

        <li>
            <app-info-item title="Tomadas" icon="freezer">
                Todas as tomadas da casa são 220 volts.
            </app-info-item>
        </li>

        <li class="wifi">

            <app-info-item title="Wi-Fi" icon="freezer">
                Todos os Wi-Fi da casa têm a mesma senha, que é: <strong>fernandocarros</strong>.

                <button>
                    copiar senha
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                </button>
            </app-info-item>

        </li>
        <li>
            <app-info-item title="Energia elétrica" icon="freezer">
                Evitem ligar todos os chuveiros e forno elétrico de uma única vez para garantir um uso eficiente da energia.
            </app-info-item>
        </li>
        <li>
            <app-info-item title="Microondas" icon="freezer">
                O visor do microondas está de férias, mas o aquecimento está perfeito. Sintam-se à vontade para usá-lo.
            </app-info-item>
        </li>
    </ul>
</section>
