<section class="parabens">

    <img src="./assets/parabens.png" alt="">

    <h1>
        Sejam bem-vindos à nossa casa de praia!
    </h1>


    <h2>
        Aproveitem a estadia e
        <br>
        façam-se em casa!
    </h2>



</section>

<section>
    <h2>
        Instruções de Check-in
    </h2>

    <ul>
        <li>
            Não estaremos fisicamente presentes, mas estaremos disponíveis online para auxiliar em todo o processo de
            check-in. Por favor, <strong> avise-nos</strong> assim que chegarem para que possamos abrir o portão e
            recebê-los.
        </li>

        <li>
            Caso precisem, o controle do portão da garagem estará no painel da TV para facilitar o acesso.
        </li>
    </ul>

</section>


<section>
    <h2>
        Informações importantes
    </h2>

    <ul>
        <li>
            A geladeira foi feita para uso doméstico. É importante evitar abrir a geladeira com muita frequência, pois
            isso pode dificultar seu resfriamento adequado.
        </li>

        <li>
            Disponibilizamos um freezer para melhor atendê-los e uma caixa de isopor bem grande para ajudar a manter as
            coisas frescas, se necessário.
        </li>
        <li>
            Todas as tomadas da casa são 220 volts.
        </li>
        <li class="wifi">
            Todos os Wi-Fi da casa têm a mesma senha, que é: <strong>fernandocarros</strong>.

            <button>
                copiar senha
                <span class="material-symbols-outlined">
                    content_copy
                </span>
            </button>
        </li>
        <li>
            Evitem ligar todos os chuveiros e forno elétrico de uma única vez para garantir um uso eficiente da energia.
        </li>
        <li>
            O visor do microondas está de férias, mas o aquecimento está perfeito. Sintam-se à vontade para usá-lo.
        </li>
    </ul>
</section>


<section>
    <h2>
        Detalhes importantes sobre a piscina:
    </h2>

    <ul>
        <li>
            Para manter a água limpa por mais tempo, é recomendável não entrar na piscina diretamente após a chegada da
            praia, recomendamos o uso da ducha para remover o excesso de areia existente.
        </li>
        <li>
            Após utilizar o protetor solar, aguarde que o mesmo seque por completo, recomendamos também que utilize a
            ducha
            para remover o excesso, assim você estará contribuindo para a limpeza da água.
        </li>
        <li>
            Caso queira ligar a cascata ou a hidromassagem, entrar em contato comigo.
        </li>
        <li>
            A piscina é ligada automaticamente das 14h às 20h todos os dias para realizar o processo de filtragem e
            melhorar
            a qualidade da água.
        </li>
        <li>
            O piscineiro visita o imóvel regularmente para a limpeza da piscina, garantindo um ambiente agradável para
            todos
            os hóspedes.
        </li>
    </ul>
</section>

<section>
    <h2>
        Dúvidas frequentes
    </h2>

    <ul class="faq">
        <li>
            Como ligar a cascata?

            <span class="material-symbols-outlined">
                expand_more
            </span>
        </li>
        <li>
            Como ligar a hidromassagem?

            <span class="material-symbols-outlined">
                expand_more
            </span>
        </li>

        <li>
            Casa tem toalhas?
        </li>

    </ul>
</section>

<nav class="menu">
    <ul>
        <li>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M16.84 27.16v-3.4l-.26.09c-.98.32-2.03.51-3.11.55h-.7A11.34 11.34 0 0 1 1.72 13.36v-.59A11.34 11.34 0 0 1 12.77 1.72h.59c6.03.16 10.89 5.02 11.04 11.05V13.45a11.3 11.3 0 0 1-.9 4.04l-.13.3 7.91 7.9v5.6H25.7l-4.13-4.13zM10.31 7.22a3.1 3.1 0 1 1 0 6.19 3.1 3.1 0 0 1 0-6.2zm0 2.06a1.03 1.03 0 1 0 0 2.06 1.03 1.03 0 0 0 0-2.06zM22.43 25.1l4.12 4.13h2.67v-2.67l-8.37-8.37.37-.68.16-.3c.56-1.15.9-2.42.96-3.77v-.64a9.28 9.28 0 0 0-9-9h-.55a9.28 9.28 0 0 0-9 9v.54a9.28 9.28 0 0 0 13.3 8.1l.3-.16 1.52-.8v4.62z"></path></svg>
                Check-in
            </a>
        </li>
        <li>
            <a href="">
                <img src="./assets/svgs/informacoes.svg" alt="">
                Informações
            </a>
        </li>
        <li>
            <a href="">
                <img src="./assets/svgs/piscina.svg" alt="">
                Piscina
            </a>
        </li>
    </ul>
</nav>
