<section>
    <h1>
        Sejam bem-vindos à nossa casa de praia! Aproveitem a estadia e façam-se em casa!
    </h1>

    <img src="/assets/banner.jpg" alt="">
</section>

<section>
    <h2>
        Instruções de Check-in
    </h2>

    <ul>
        <li>
            Não estaremos fisicamente presentes, mas estaremos disponíveis online para auxiliar em todo o processo de
            check-in. Por favor, <strong> avise-nos</strong> assim que chegarem para que possamos abrir o portão e
            recebê-los.
        </li>

        <li>
            Caso precisem, o controle do portão da garagem estará no painel da TV para facilitar o acesso.
        </li>
    </ul>

</section>


<section>
    <h2>
        Informações importantes
    </h2>

    <ul>
        <li>
            A geladeira foi feita para uso doméstico. É importante evitar abrir a geladeira com muita frequência, pois
            isso pode dificultar seu resfriamento adequado.
        </li>

        <li>
            Disponibilizamos um freezer para melhor atendê-los e uma caixa de isopor bem grande para ajudar a manter as
            coisas frescas, se necessário.
        </li>
        <li>
            Todas as tomadas da casa são 220 volts.
        </li>
        <li>
            Todos os Wi-Fi da casa têm a mesma senha, que é: fernandocarros.
        </li>
        <li>
            Evitem ligar todos os chuveiros e forno elétrico de uma única vez para garantir um uso eficiente da energia.
        </li>
        <li>
            O visor do microondas está de férias, mas o aquecimento está perfeito. Sintam-se à vontade para usá-lo.
        </li>
    </ul>
</section>


<section>
    <h2>
        Detalhes importantes sobre a piscina:
    </h2>

    <ul>
        <li>
            Para manter a água limpa por mais tempo, é recomendável não entrar na piscina diretamente após a chegada da
            praia, recomendamos o uso da ducha para remover o excesso de areia existente.
        </li>
        <li>
            Após utilizar o protetor solar, aguarde que o mesmo seque por completo, recomendamos também que utilize a
            ducha
            para remover o excesso, assim você estará contribuindo para a limpeza da água.
        </li>
        <li>
            Caso queira ligar a cascata ou a hidromassagem, entrar em contato comigo.
        </li>
        <li>
            A piscina é ligada automaticamente das 14h às 20h todos os dias para realizar o processo de filtragem e
            melhorar
            a qualidade da água.
        </li>
        <li>
            O piscineiro visita o imóvel regularmente para a limpeza da piscina, garantindo um ambiente agradável para
            todos
            os hóspedes.
        </li>
    </ul>
</section>

<nav class="menu">
    <ul>
        <li>
            <a href="">
                <span class="material-symbols-outlined">door_front</span>
                Check-in
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">info</span>
                Informações
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">pool</span>
                Piscina
            </a>
        </li>
    </ul>
</nav>
