<nav class="menu">
    <ul class="container">
        <li>
            <a href="" class="link">
                <app-icon-key></app-icon-key>
                Check-in
            </a>
        </li>
        <li>
            <a href="" class="link">
                <app-icon-info></app-icon-info>
                Informações
            </a>
        </li>
        <li>
            <a href="" class="link">
                <app-icon-pool></app-icon-pool>
                Piscina
            </a>
        </li>
    </ul>
</nav>

<!-- icone do whatsApp flutuante -->
